<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{block "title" .}}{{.Title}}{{end}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {{if .FaviconPath}}<link rel="icon" href="/static/favicon.ico">{{end}}
</head>
<body>
<nav class="navbar is-link" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold" href="/">{{.Title}}</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/links">All Links</a>
      {{if .Identity}}
      <a class="navbar-item" href="/mylinks">My Links</a>
      <a class="navbar-item" href="/new">New Link</a>
      <a class="navbar-item" href="/auth/logout">Logout ({{.Identity.Email}})</a>
      {{else}}
      <a class="navbar-item" href="/auth/login">Login</a>
      {{end}}
    </div>
  </div>
</nav>
<section class="section">
  <div class="container">
    {{block "content" .}}{{end}}
  </div>
</section>
</body>
</html>
